casa-borges.duckdns.org {
    reverse_proxy http://192.168.0.115:8123
}

celiaelando.duckdns.org {
    reverse_proxy http://192.168.0.105:8123
}

jmmb.ddns.net {
    reverse_proxy http://192.168.0.69:22
}

joplin.marceloborges.dev {
    reverse_proxy http://192.168.0.120:8120
}

paperless.marceloborges.dev {
    reverse_proxy http://192.168.0.120:8130
}

vw.marceloborges.dev {
    reverse_proxy http://192.168.0.120:8140
}