{
    email letsencrypt@marceloborges.dev
}
casa-borges.duckdns.org {
    reverse_proxy http://192.168.0.115:8123
}

casa-borges.marceloborges.dev {
    reverse_proxy http://192.168.0.115:8123
}

celiaelando.duckdns.org {
    reverse_proxy http://192.168.0.105:8123
}

celiaelando.marceloborges.dev {
    reverse_proxy http://192.168.0.105:8123
}

jmmb.ddns.net {
    reverse_proxy http://192.168.0.69:22
}

joplin.marceloborges.dev {
    reverse_proxy http://truenas.home:30106
}

paperless.marceloborges.dev {
    reverse_proxy http://truenas.home:30070
}

vaultwarden.marceloborges.dev {
    reverse_proxy http://truenas.home:30032
}

adguard.marceloborges.dev {
    reverse_proxy http://adguardhome:80
}

uptime.marceloborges.dev {
    reverse_proxy http://uptime-kuma:3001
}

immich.marceloborges.dev {
    reverse_proxy http://truenas.home:30041
}
