services:
  # --------------------------------------------------------------------------------------------------------------------------
  # adguard home
  # --------------------------------------------------------------------------------------------------------------------------
  # AdGuard Home is a network-wide ad and tracker blocking DNS server.
  # It can work as a DNS server that filters out ads, tracking domains, and malware.
  # Provides web interface for configuration and monitoring.

  adguardhome:
    image: adguard/adguardhome:latest
    container_name: adguardhome
    restart: unless-stopped
    ports:
      - "53:53/tcp" # DNS
      - "53:53/udp" # DNS
      - "80/tcp" # Portal
      - "3000:3000/tcp" # Admin panel
    volumes:
      - ./volumes/adguardhome/work:/opt/adguardhome/work
      - ./volumes/adguardhome/conf:/opt/adguardhome/conf
    networks:
      - internal
    # Different DNS servers use different ports, you might need to adjust these.
    # These capabilities allow AdGuard Home to function as a DNS server
    cap_add:
      - NET_ADMIN

  # --------------------------------------------------------------------------------------------------------------------------
  # caddy
  # --------------------------------------------------------------------------------------------------------------------------
  # Caddy is a powerful web server that can be used as a reverse proxy, load balancer, and more.
  # It is easy to configure and can automatically obtain and renew SSL certificates from Let's Encrypt.

  caddy:
    image: caddy:2
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./volumes/caddy/site:/srv
      - ./volumes/caddy/caddy_data:/data
      - ./volumes/caddy/caddy_config:/config
    networks:
      - internal

  # --------------------------------------------------------------------------------------------------------------------------
  # cloudflare-ddns
  # --------------------------------------------------------------------------------------------------------------------------
  # Cloudflare DDNS service to keep your DNS records updated with your dynamic IP address
  # Automatically updates A and AAAA records to point to your current IP address

  cloudflare-ddns:
    image: favonia/cloudflare-ddns:latest
    container_name: cloudflare-ddns
    network_mode: host
    restart: unless-stopped
    user: "1000:1000"
    read_only: true
    cap_drop: [all]
    security_opt: ["no-new-privileges:true"]
    environment:
      - CLOUDFLARE_API_TOKEN=${CLOUDFLARE_API_TOKEN}
      - DOMAINS=joplin.marceloborges.dev,vaultwarden.marceloborges.dev,adguard.marceloborges.dev,paperless.marceloborges.dev,uptime.marceloborges.dev,casa-borges.marceloborges.dev,casa-borges.marceloborges.dev,celiaelando.marceloborges.dev
      - PROXIED=false

networks:
  internal:
    external: false
    driver: bridge
